<!DOCTYPE html>
<html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83146017-1', 'auto');
  ga('send', 'pageview');

</script>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="ROCm, a New Era in Open GPU Computing : Platform for GPU Enabled HPC and UltraScale Computing ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/RadeonOpenCompute">View on GitHub</a>
          <img class="wrap" src="images/ROCm_Logo_128.png" alt="ROCm_Logo" />
          <h2 id="project_title">ROCm, a New Era in Open GPU Computing</h2>
          <h3 id="project_tagline">Platform for GPU-Enabled HPC and Ultrascale Computing </h3>

        </header>
      
    </div>
   <div id="nav">
      <div id="nbar">
        <ul>
          <li><a href="index.html">Overview</a></li>
          <li><a href="ROCmInstall.html">Getting Started</a></li>
          <li><a href="http://rocm-documentation.readthedocs.io/en/latest/index.html">Documentation</a></li>
          <li><a href="packages.html">ROCm Ecosystem</a></li>
	  <li><a href="dl.html">Deep Learning</a></li>
          <li><a href="tutorials.html">Tutorials</a></li>
          <li><a href="blog.html">Community</a></li>
	  <li><a href="contribute.html">Contribute</a></li>
        </ul>
      </div>
      </div>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	    {{ content }}
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p> © 2016 AMD Corporation <a href="legal.html">Disclaimer and Legal Information</a> </p> 
      </footer>
    </div>

  

  </body>
</html>
